<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.stairenx.viergo.youleadomsk">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoyoulead"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".StartActivity" android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>

        <activity android:name=".activity.CreateNewsActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DevActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.OrgActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.PartnersActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.SpeakersActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ProgramActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ProfileActivity" android:screenOrientation="portrait"/>


    </application>

</manifest>